body, th, td, font, div, table {
	font: 12px Verdana,Arial,sans-serif;

}

/* Clean out MARGIN and PADDING */

html, body, form, fieldset, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, li, dd {
    margin: 0; padding: 0px;
}

form {
	margin: 0; padding: 0px;
}
	
h1 {
	font-size: 120%;
	color: #aa1111;
}

/* Tables */

table {
	border-spacing: 0px;
	border: 3px solid black;
	border-collapse: collapse;
	//	bordercolor: #000000;
	//	border-top: 5px;


}  /* cellspacing=0 */

/*
tr:nth-of-type(even) {
	background: #FFFFF0;
}
tr:nth-of-type(odd) {
	background: #FFF8DC;
}
*/

th {
	padding: 2px;
	border: 2px solid black;
	background: #EFEFEF;
}

td {
	padding: 2px;
	border: 1px solid black;
}        /* cellpadding=0 */

/* ---------------------------------- *
     Inputs, buttons, forms
 * ---------------------------------- */
input, textarea, select {
    font-family: Verdana,sans-serif;
}
input.post, textarea.post {  }

select, input { font-size: 11px; }
textarea      { font-size: 12px; }

.AuthMenu {
    background: #EFEFEF;
    border: 1px solid #CFD4D8;
}
.AuthMenu td {padding: 4px; font-size: 11px; white-space: nowrap; }
.topmenu {
    background: #EFEFEF; border: 1px solid #CFD4D8;
    margin: 3px 10px 0; padding: 0 3px;
}
.topmenu a:link, .topmenu a:visited { text-decoration: none; }
.topmenu td { padding: 4px; font-size: 11px; white-space: nowrap; }
.w100   { width: 100% !important; }
.tCenter   { text-align: center !important; }
.xopad_2,  .pad_2  td, td.pad_2  { padding:  2px; }


.userTag {
	position: absolute;
	width: 200px;
	top: 10px;
	right: 50px; 
	background: #ccc;
	padding: 5px;
	padding-right: 20px;
	border: solid 1px black;
	float: left;
}

.debugPanel {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 200px;
	background: #F8AFBA;
}

.ProgramTitle {
	position: fixed;
	top: 5px;
	left: 5px;
	right: 5px;
	height: 35px;
	background: #FFFFFF;
	line-height: 35px;
	padding: 5px;
}

.UserMenu {
	background: #EFEFEF;
	/*	border: 1px solid #CFD4D8; */
	font-size: 12px;
	/* font-family: Verdana,Arial,sans-serif; /* Verdana,sans-serif; */
	position: fixed; /**/
	left: 5px;/**/
	right: 5px;
	top: 55px;/**/
	/*	width: 500px;/**/
	height: 20px;
	padding: 1px;
/*	line-height: 35px;*/
	padding: 5px;
}

.UserMenu table {
	border: 0px;
}

.UserMenu td {
	border: 0px;
}

.layer1 {
	width: 300px;/* Ширина слоя */
	background: #fc0; /* Цвет фона */
	height: 500px; /* Высота слоя */
	/*	padding: 5px; /* Поля вокруг текста */
}

.Page {
	position: fixed;/**/
	top: 125px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: #FFFFFF;
	overflow: auto;
	padding: 5px;

}

.Navigation {
	background: #FFFFFF;
	font-size: 12px;
	position: fixed; /**/
	left: 5px;/**/
	right: 5px;
	top: 90px;/**/
	height: 20px;
	padding: 5px;


}
/*
h1 {
	font-size: 120%;
	color: #f0f000;
}*/
.ButtonPanel {
	background: #FFFFFF;
	font-size: 12px;
	position: fixed; /**/
	left: 5px;/**/
	right: 5px;
	top: 125px;/**/
	height: 20px;
	padding: 5px;

}