<div class="ButtonSubdivision">
  locomotive name block
  <p><select size="10" multiple>
	  <option value="Чебурашка">Чебурашка</option>
	  <option selected value="Крокодил Гена">Крокодил Гена</option>
	  <option value="Шапокляк">Шапокляк</option>
	  <option value="Крыса Лариса">Крыса Лариса</option>
	  <option value="Крыса Лариса">Крыса Лариса</option>
	  <option value="Крыса Лариса">Крыса Лариса</option>
	  <option value="Крыса Лариса">Крыса Лариса</option>
	  <option value="Крыса Лариса">Крыса Лариса</option>
  </select></p>
  <select data-placeholder="Choose a Country..." class="chosen-select" style="width:350px;" tabindex="2">
	<option value=""></option>
	<option value="United States">United States</option>
	<option value="United Kingdom">United Kingdom</option>
	<option value="Afghanistan">Afghanistan</option>
	<option value="Aland Islands">Aland Islands</option>
	<option value="Albania">Albania</option>
	<option value="Algeria">Algeria</option>
  </select>
</div>
