locomotive add
<div class="PageRepairAdd">
  <form style="padding-bottom: 5px" method="POST" action="<?=$_SERVER['PHP_SELF']?>?page=RepairAdd">
	<input type="hidden" name="RepairAddSave" value="RepairAdd">
	<input type="submit" name="but" value="Сохранить"><br>
	<hr>
	<table>
	  <?php foreach(PageRepairAdd::$vars as $key => $vars) { ?>
	  <tr>
		<td><?=$vars['name']?>:</td>
		<td><input type="text" name="<?=$key?>" value="<?=$vars['data']?>"></td>
		<td><input type="submit" name="button_<?=$key?>" value="..."><br></td>
	  </tr>
	  <?php } ?>
	</table>
	
  </form>
</div>
